/*Closing*/
.closing {
  font-size: 10px;
  background-color: #f1f3f8;
  padding-right: 10px;
  margin-top: 50px;
}
.closing-links {
  margin-top: 40px;
  margin-left: 15px;
  color: black;
}
a:hover {
  color: #01a1dd;
}
