<div class="modal-container">
  <button 
    type="button" 
    class="close pull-right" 
    aria-label="Close" 
    (click)="bsModalRef.hide()">
  <span aria-hidden="true">&times;</span></button>
    <h2>Your Cart</h2>
    <app-shopping-cart-items></app-shopping-cart-items>
  <div class="row">
    <div class="col-md-12 col-sm-12 checkout-button">
      <button 
        class="btn"
        routerLink="/checkout"
        (click)="bsModalRef.hide()"
      >Checkout</button>
    </div>
  </div>
</div>