@import "../../../const.scss";
.modal-container {
  margin: 20px;
}
.checkout-button {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}
h2 {
  margin-bottom: 30px;
}
.btn {
  background-color: $ninja-blue;
  color: #fff;
}
a {
  color: $ninja-blue;
}
