@import "../../../const.scss";
.btn-color {
  background-color: $ninja-blue;
  color: #fff;
}

.email-sub {
  margin: 5px;
}
.email-input {
  border: 1px solid $ninja-blue;
  padding: 10px;
  width: 80%;
  max-width: 400px;
}
.form-container {
  display: flex;
  justify-content: center;
}
button:disabled {
  cursor: not-allowed;
}
.subscription-head {
  margin-top: 100px;
}
