<div class="container">
  <h1>About Us</h1>
  <hr />

  <img
    src="../../assets/Drinking-coffee.jpg"
    alt="Woman drinking a cup of coffee outside"
  />
  <p>
    Our mission has always been to find the best coffee from around the world
    and show everyone exactly how great specialty coffee can be. We search the
    world so you don’t have to. A passion for coffee that has been cared for,
    and is loved from the moment it’s planted to the moment it’s brewed, is why
    we exist.
    <br /><br />
    Our coffee experts travel the world sourcing, tasting and grading to select
    only the finest speciality coffee directly from the grower. This way, we
    control all the variables every step of the way to make sure the coffee we
    deliver is perfect.
    <br /><br />
    We try to select the world’s best locations for our single origins, and
    wherever possible we source this coffee direct trade. Our search for the
    best coffee doesn’t stop at finding the best tasting coffee; we want to
    ensure we are responsible for positive action at every step of the coffee
    supply chain.
    <br />
    <br />
    We love great coffee and know you do too. That’s why we make it easy for
    you. We deliver specialty grade coffee sourced from around the world and
    then expertly roasted and delivered to your home, office, coffee shop, deli,
    or restaurant.
    <br /><br />
    Each and every day, we set out to make the best tasting coffee we can. We
    work with dedicated and passionate people throughout the coffee world to
    seek out great coffees, and shake hands with the farmers and the families
    that produce them.
    <br /><br />
    To help you get the best out of our coffee we continually search the world
    for the best brewing methods and solutions, and make them available for fast
    delivery along with each of our coffees.
    <br /><br />
    Coffee comes from some of the most fascinating corners of the planet, and
    every specialty coffee bean has a story. We want to share those stories and
    make those coffees available to you with an emphasis on quality, freshness,
    customer service and convenienceWhat we don’t roast ourselves, we carefully
    select from only the best roasters in the country to sell in our Speciality
    Coffee Shop.
    <br /><br />
    Our own Specialty coffee is roasted in one of the most high-tech roasters in
    the country. We wanted to find equipment that can consistently roast the
    exact profiles we wanted, every time.
    <br /><br />
    We are extremely passionate about great coffee and we want to provide you
    with the tools to understand everything about it.
  </p>
</div>
