@import "../../../const.scss";

p {
  padding: 0;
  margin: 0;
}
#remove-item {
  color: $ninja-blue;
  cursor: pointer;
  &:hover {
    color: rgb(113, 195, 230);
    text-decoration: underline;
  }
}
.close {
  outline: 0;
  display: flex;
  align-items: flex-start;
  padding: 0;
}
.btn {
  background-color: $ninja-blue;
  color: #fff;
}
.modal-container {
  margin: 20px;
}
.checkout-button {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}
h2 {
  margin-bottom: 30px;
}
a {
  color: $ninja-blue;
}
