p {
  font-size: 20px;
  margin-bottom: 0;
}
hr {
  border: 0;
  clear: both;
  display: block;
  width: 90%;
  background-color: #3939399a;
  height: 1px;
}
.subscription-head {
  margin-top: 100px;
}
