<div class="row item-container container"     
*ngFor="let items of myShoppingCart; let i = index">
  <div class="col-9 col-md-10 col-sm-10">
    <h5>{{items.name}}</h5>
    <p>{{items.desc}}</p>
      <p id="remove-item" (click)="onRemoveItem(items, i)">Remove Item</p>
      <hr>
  </div>
  <div class="col-3 col-md-2 col-sm-2 ">
    <h5>${{items.price}}</h5>
  </div>
</div>
<hr>
<div class="row container">
  <div class="total col-9 col-md-10 ">
    <h4>Total</h4>
  </div>
  <div class="col-3 col-md-2 col-lg-2">
    <h4 class="total-price">${{totalPrice}}</h4>
  </div>
</div>