@import "../../../const.scss";
h2 {
  background-color: #d6e0f0;
  color: rgba(0, 0, 0, 0.776);
  padding: 15px;
}
hr {
  margin-top: 30px;
  margin-bottom: 60px;
}
p {
  padding: 15px;
}
a {
  color: $ninja-blue;
}
.info-header {
  margin-right: 55px;
}
.save-checkbox {
  margin: 15px;
}
.card-icons {
  width: 30px;
  margin-right: 10px;
}
.submit-button {
  background-color: $ninja-blue;
  color: #fff;
  font-size: 15px;
}
button:disabled {
  cursor: not-allowed;
  background-color: #01a2dd98;
}
mat-form-field {
  margin-bottom: 15px;
}
.form-container {
  // border-right: 1px solid rgba(120, 120, 120, 0.625);
  padding-right: 40px;
}
