@import "../../const.scss";
button {
  background-color: $ninja-blue;
  color: #fff;
  margin-top: 30px;
}
.coffee-head {
  width: 100vw;
}
.coffee-photo {
  max-width: 1800px;
  margin-top: 50px;
  width: 100vw;
}
/*comp values*/
.comp-values {
  margin-top: 100px;
}
.comp-value-padding {
  padding: 10px;
}
.coffee-quote {
  margin-top: 50px;
}
.comp-organic {
  margin-top: 50px;
  margin-bottom: 40px;
}
.container-fluid {
  padding: 0;
  max-width: 1800px;
}
.hr-spacing {
  margin-top: 70px;
  margin-bottom: 70px;
}
.product-carousel {
  max-width: 800px;
  max-height: 529px;
  height: auto;
  width: 100%;
}
.collection {
  margin: 50px;
}
.winter-items-container {
  align-content: center;
  display: flex;
  flex-flow: wrap;
}
.winter-items-center {
  align-items: center;
  display: flex;
  flex-direction: column;
}
#winter-items-start {
  display: flex;
  align-self: start;
}
