.coffee-head {
  width: 100vw;
}
.coffee-photo {
  max-width: 1800px;
  margin-top: 50px;
  width: 100vw;
}
/*comp values*/
.comp-values {
  margin-top: 100px;
}
.comp-value-padding {
  padding: 10px;
}
.coffee-quote {
  margin-top: 50px;
}
.comp-organic {
  margin-top: 50px;
  margin-bottom: 40px;
}
.container-fluid {
  padding: 0;
  max-width: 1800px;
}
.hr-spacing {
  margin-top: 70px;
  margin-bottom: 70px;
}
