
<div class="container-fluid">

  <router-outlet></router-outlet>
  <div class="coffee-head">
    <img class= "coffee-photo d-flex justify-content-center" src="../../assets/home-1-coffee-with-froth-design-and-coffee-beans_soHhApC.webp" alt="Latte with latte art and coffee beans">
  </div>
  <div class="coffee-quote d-flex justify-content-center">
    <p class="comp-value-padding">“It’s amazing how the world begins to change through the eyes of a cup of coffee.” – Donna A. Favors</p>
  </div>
  <hr>
  
  <!--start of company values -->
  <div class="comp-values">
    <div class="row">
      <div  class="col-md-7 col-lg-7 col-xs-12 photo-container1">
        <img class="comp-pic1" src="../../assets/home-2-Arabica-coffee-bean.jpg" alt="coffee beans in a bag">
      </div>
      <div class="col-md-5 d-flex align-items-center justify-content-center">
        <p class="comp-value-padding">“Green coffee is a living thing, more like produce than an inert spice or candy, and each one has a unique life span based on who produced it and where it's from.”
          —Charlie Habegger, Green Coffee Buyer</p>
        </div>
      </div>
    <hr class="hr-spacing">
    <div class="row comp-organic">
      <div class="col-md-5 col-lg-5 col-xs-12 d-flex align-items-center">
        <p class="comp-value-padding">We take pride in having the best quality coffee beans. We do this by only sourcing organic beans from all over the world. Our team does rigorous testing and tasting before we put them on the market. We strive to bring the best and wont accept anything less.</p>
      </div>
      <div  class="col-md-7 col-lg-7 col-xs-12 photo-container">
        <img class="comp-pic2" src="../../assets/home-3-coffee-tree.jpg" alt="Coffee beans on the tree">
      </div>
      
    </div>
    <hr class="hr-spacing">
  </div>
  <div class="row collection">
    <div class="col-md-6 winter-items-container">
      <h2 id="winter-items-start">Winter Items</h2>
      <div class="winter-items-center">
        <p>Ninja Coffee makes it easy to spread coffee and joy this season. From thoughtful gifts to decadent holiday beverages to our beloved Holiday Blend, holiday cheer is here.</p>
        <button class="btn winter-items-center button-margin" routerLink="product">Shop Our Collection</button>
      </div>
    </div>
    <div class="col-md-6">
      <carousel [showIndicators]="false" [isAnimated]="true" [interval]="2500">
        <slide>
          <img class="product-carousel" src="../../assets/product-9-Holiday+Blend.jpg" alt="Holiday blend coffee">
        </slide>
        <slide>
          <img class="product-carousel" src="../../assets/product-1-cold-brew.jpg" alt="Cold Brew Coffee">
        </slide>
        <slide>
          <img class="product-carousel" src="../../assets/product-2-colombian-blend.jpg" alt="Coffee">
        </slide>
        <slide>
          <img class="product-carousel" src="../../assets/product-3-chemex.jpg" alt="Coffee with chemex">
        </slide>
        <slide>
          <img class="product-carousel" src="../../assets/product-5-latte.jpg" alt="Latte">
        </slide>
        <slide>
          <img class="product-carousel" src="../../assets/product-6-robust-decaf.jpg" alt="Coffee with beans">
        </slide>
      </carousel>
    </div>
  </div>
</div>
  
  
  
  